# ignore .htaccess as it will symlink to the .txt file we generate
_site/.htaccess

# we use Macs, lol
.DS_Store

# Ignore stuff that Jekyll poops out
_site

# Ignore Sass stuff
.sass-cache

# For Grunt npm modules
node_modules
_tmp

# Ignore bundler files
.bundle
vendor/bundle

