---
layout: full
title: Schedule | DrupalCamp Austin 2013
---

<div class="schedule">
  <h1 class="title">Schedule</h1>

  <h2>Friday</h2>
  
  <p>
  <strong>Workshops</strong><br>
  We've got two paid full-day workshops on Friday: <a href="/workshops/#beginner">Beginner's guide to Drupal</a> and <a href="/workshops/#nodejs">Integrating Node.js and Drupal</a>.
  </p>

  <p>
  <strong><a href="http://webleadershipday.com/">Web Leadership Day</a></strong><br>
  A new FREE event that gathers voices from across the web for a single day of deep dives into the business and future of the web.
  </p>
  
  <p>
  <strong><a href="http://geektrivianight.eventbrite.com/">Geek Trivia Night</a></strong><br>
  Come test your knowledge of history, pop culture, music, TV, film, and the internet at our first ever Geek Trivia Night. <a href="/news/geek-trivia-night/">Check out our blog post</a> to get all the info.
  </p>

  <hr>

  <div class="filters">
    <div class="filter f-track">
      <ul>
        <li><label class="active"><input type="checkbox" checked value="frontend">Frontend</label></li>
        <li><label class="active"><input type="checkbox" checked value="development">Development</label></li>
        <li><label class="active"><input type="checkbox" checked value="business">Business</label></li>
        <li><label class="active"><input type="checkbox" checked value="sitebuilding">Sitebuilding</label></li>
      </ul>
      <br>
    </div>

<!--
    <div class="filter f-difficulty">
      <ul>
        <li><label class="active"><input type="checkbox" checked value="beginner">Beginner</label></li>
        <li><label class="active"><input type="checkbox" checked value="intermediate">Intermediate</label></li>
        <li><label class="active"><input type="checkbox" checked value="advanced">Advanced</label></li>
      </ul>
      <br>
    </div>
    <div class="filter f-column">
      <ul>
        <li><label class="active"><input type="radio" value="room" selected>Room</label></li>
        <li><label><input type="radio" value="track">Track</label></li>
        <li><label><input type="radio" value="difficulty">Difficulty</label></li>
      </ul>
    </div>
-->

    <div class="f-reset">
      <button>Reset</button>
    </div>

  </div>

  <section id="sched" class="room">
    <h2>Saturday</h2>

    <header>
      <span class="column">Room 14</span>
      <span class="column">Room 13A</span>
      <span class="column">Room 13B</span>
    </header>

    {% for post in site.categories.session reversed %}
    {% if post.day == 'Saturday' %}
      {% if post.room == 'full' and post.accepted == true %}
{% include session-full.html %}
      {% elsif post.accepted == true %}
        {% capture slot %}{% cycle 'begin', 'skip', 'end' %}{% endcapture %}
        {% if slot == 'begin' %}
        <section class="slot">
          <h3 class="time">{{ post.day }}, {{ post.start }}</h3>
        {% endif %}
{% include session.html %}
        {% if slot == 'end' %}
        </section>
        {% endif %}
      {% endif %}
    {% endif %}
    {% endfor %}

    <h2>Sunday</h2>

    <header>
      <span class="column">Room 14</span>
      <span class="column">Room 13A</span>
      <span class="column">Room 13B</span>
    </header>

    {% for post in site.categories.session reversed %}
    {% if post.day == 'Sunday' %}
      {% if post.room == 'full' and post.accepted == true %}
{% include session-full.html %}
      {% elsif post.accepted == true %}
        {% capture slot %}{% cycle 'begin', 'skip', 'end' %}{% endcapture %}
        {% if slot == 'begin' %}
        <section class="slot">
          <h3 class="time">{{ post.day }}, {{ post.start }}</h3>
        {% endif %}
{% include session.html %}
        {% if slot == 'end' %}
        </section>
        {% endif %}
      {% endif %}
    {% endif %}
    {% endfor %}

    </section><!-- .sched -->
  </div>
