{% raw %}
<script type="text/x-handlebars" data-template-name="schedule">
  {{view Ember.Select id="track-selector" contentBinding="allTracks" valueBinding="track"}}
  {{view Ember.Select id="difficulty-selector" contentBinding="allDifficulties" valueBinding="difficulty"}}
  {{#if organizedSessions}}
    <div id="rooms">
      {{#each room in displayRooms}}
        <span class="room-title">{{room}}</span>
      {{/each}}
    </div>

  {{else}}
    No sessions match your selection.
  {{/if}}
</script>
{% endraw %}
