  <footer role="contentinfo">
    <span class="social">
      <a class="ss-icon ss-social-circle" href="http://twitter.com/drupalatx" title="Follow @DrupalATX">Twitter</a>
      <a class="ss-icon ss-social-circle" href="http://facebook.com/drupalcampaustin" title="DrupalCamp Austin on Facebook">Facebook</a> 
    </span>
    <span>Built with love by <a href="http://fourkitchens.com" title="Four Kitchens">Four Kitchens</a> in Austin, TX</span>
  </footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10055851-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% include scripts.html %}