<nav id="nav">
  <ul>
      <li><a href="/about" title="General info">About</a></li>
      <li><a href="/news" title="News and annoucements">News</a></li>
      <li><a href="/sessions" title="Sessions">Sessions</a></li>
      <li><a href="/workshops" title="Training workshops">Workshops</a></li>
      <li><a href="/faq" title="Frequently asked questions">FAQ</a></li>
      <li><a href="/contact" title="Contact us">Contact</a></li>
    </ul>
</nav>

<div class="inner">

  <div id="cta-1">
    <a class="button" href="http://drupalcampaustin.eventbrite.com" title="Register for DrupalCamp Austin">Register now</a>
    <p>June 21-23, 2013</p>
  </div>

  <div id="branding">
    <a id="logo" href="/" title="DrupalCamp Austin 2013"><object type="image/svg+xml" data="/img/logo.svg" class="logo">DrupalCamp Austin logo</object></a>
  </div>

  <div id="cta-2">
    <a class="button" href="/">Submit a session</a>
    <p><a href="/sessions" title="Learn about submitting a session to DrupalCamp">Learn more</a>
  </div>

</div><!-- /.inner -->