<nav id="nav">
  <ul>
    <li><a href="/about/" title="General info">About</a></li>
    <li><a href="/news/" title="News and annoucements">News</a></li>
    <li><a href="/schedule/" title="Sessions">Schedule</a></li>
    <li><a href="/sessions/" title="Sessions">Sessions</a></li>
    <li><a href="/workshops/" title="Training workshops">Workshops</a></li>
    <li><a href="/faq/" title="Frequently asked questions">FAQ</a></li>
    <li><a href="/contact/" title="Contact us">Contact</a></li>
  </ul>
</nav>

<div class="inner">

  <div id="branding">
    <a id="logo" href="/" title="DrupalCamp Austin 2013">
      <script>
        // Dynamic logo: SVG or PNG, also a random gender
        var gender = (Math.floor(Math.random() * 2) == 1) ? 'his' : 'hers';
        var format = 'png';
        if (Modernizr.svg) {format = 'svg'}
        document.write('<img src="/img/logo-'+gender+'.'+format+'" alt="DrupalCamp Austin">');
      </script>
      <noscript><img src="/img/logo-his.png" alt="DrupalCamp Austin"></noscript>
    </a>
  </div>

  <div id="cta-1">
    <a class="button" href="http://drupalcampaustin.eventbrite.com" title="Register for DrupalCamp Austin">Register now</a>
    <p>June 21-23, 2013</p>
  </div>

  <div id="cta-2">
    <a class="button" href="/schedule/">Schedule</a>
    <p>More details coming soon!</p>
  </div>

</div><!-- .inner -->
