<nav id="nav">
  <ul>
      <li><a href="/about" title="General info">About</a></li>
      <li><a href="/news" title="News and annoucements">News</a></li>
      <li><a href="/sessions" title="Sessions">Sessions</a></li>
      <li><a href="/workshops" title="Training workshops">Workshops</a></li>
      <li><a href="/faq" title="Frequently asked questions">FAQ</a></li>
      <li><a href="/contact" title="Contact us">Contact</a></li>
    </ul>
</nav>

<div id="branding">
  <a id="logo" href="/" title="DrupalCamp Austin 2013"><img src="/img/logo.svg" alt="DrupalCamp Austin logo"></a>
</div>
