<div id="sponsors" role="contentinfo">

  <h3>Our sponsors</h3>

  <div class="longhorn">
    <div class="sponsor">
      <a id="entermedia" href="http://www.entermedianow.com/" title="ENTERMEDIA" target="_blank">ENTERMEDIA</a>
    </div><!-- .sponsor -->
    <div class="sponsor">
      <a id="acquia" href="http://www.acquia.com/" title="Acquia" target="_blank">Acquia</a>
    </div><!-- .sponsor -->
  </div><!-- .longhorn -->

  <div class="party-trivia">
    <div class="sponsor">
      <a id="astonish" href="http://www.astonishdesign.com/" title="Astonish Design" target="_blank">Astonish Design</a>
    </div><!-- .sponsor -->
    <div class="sponsor">
      <a id="volacci" href="https://www.volacci.com/" title="Volacci" target="_blank">Volacci</a>
    </div><!-- .sponsor -->
  </div><!-- .party-trivia -->

  <div class="armadillo">
    <div class="sponsor">
      <a id="zeneva" href="http://www.zeneva.net/" title="Zeneva" target="_blank">Zeneva</a>
    </div><!-- .sponsor -->
    <div class="sponsor">
      <a id="blackmesh" href="http://www.blackmesh.com/" title="Blackmesh" target="_blank">Blackmesh</a>
    </div><!-- .sponsor -->
    <div class="sponsor">
      <a id="pantheon" href="https://www.getpantheon.com/" title="Pantheon" target="_blank">Pantheon</a>
    </div><!-- .sponsor -->
  </div><!-- .armadillo -->

  <div class="bat">
    <div class="sponsor">
      <a id="justaddcloud" href="https://www.justaddcloud.com/" title="Just Add Cloud" target="_blank">Just Add Cloud</a>
    </div><!-- .sponsor -->
    <div class="sponsor">
      <a id="commerce-guys" href="http://www.commerceguys.com/" title="Commerce Guys" target="_blank">Commerce Guys</a>
    </div><!-- .sponsor -->
    <div class="sponsor">
      <a id="bluedropcookbook" title="Blue Drop Cookbook">Blue Drop Cookbook</a>
    </div><!-- .sponsor -->
    <div class="sponsor">
      <a id="drupalizeme" href="http://www.drupalize.me/" title="Drupalize.me" target="_blank">Drupalize.me</a>
    </div><!-- .sponsor -->
    <div class="sponsor">
      <a id="pushpinplanner" href="http://www.pushpinplanner.com/" title="Pushpin Planner" target="_blank">Pushpin Planner</a>
    </div><!-- .sponsor -->
    <div class="sponsor">
      <a id="favish" href="http://www.favish.com/" title="Favish" target="_blank">Favish</a>
    </div><!-- .sponsor -->
    <div class="sponsor">
      <a id="chapterthree" href="http://www.chapterthree.com/" title="Chapter Three" target="_blank">Chapter Three</a>
    </div><!-- .sponsor -->
  </div>

  <p>Interested in sponsoring? &nbsp; Contact &nbsp; <a href="mailto:sponsor@drupalcampaustin.org" title="Sponsor DrupalCamp Austin">sponsor@drupalcampaustin.org</a></p>

</div><!-- #sponsors -->
