{% if page.blocks contains 'submit' %}
<div class="submit">
  <h2>How to submit a talk</h2>

  <p>Sessions are placed into 50-minute time slots and you should plan on using the full amount of time. If you finish early, you can field questions from the audience.</p>
  <p>Check out the <a href="#submitted-sessions" title="View the submitted sessions">submitted sessions</a> below to view the talks that have already proposed.</p>
  <p>The last day to submit a session will be on <strong>Sunday, May 26th at 11:59pm CT</strong>.</p>
  <p>The proposals will be reviewed by the organizers and we'll post the final schedule during the week of May 27th.</p>
  <p>Ready to submit a talk?</p>

  <a class="button cta" href="http://bit.ly/drupalatx-speak">Submit a session</a><br><br>
</div>
{% endif %}
