{% if page.blocks contains 'workshops' %}
<div class="block block-workshops">
  <h2>DrupalCamp Workshops</h2>

  <p>Workshops are paid trainings in a classroom setting that focus on specific topics and are taught using a hands-on approach. They are very affordable and are a great way to take deep dives into specific aspects of Drupal.</p>

  <p><strong>Note:</strong> Workshop costs do not include admittance to DrupalCamp. If you wish to attend a workshop and DrupalCamp, you must purchase registration for both.</p>

  <a class="button cta" href="http://drupalcampaustin.eventbrite.com">Register for a workshop</a>
</div>
{% endif %}
