{% if page.blocks contains 'workshops' %}
<div class="block block-workshops">
  <h2>DrupalCamp Workshops</h2>

  <p>Workshops are paid trainings in a classroom setting that focus on specific topics and are taught using a hands-on approach. They are very affordable and are a great way to take deep dives into specific aspects of Drupal.</p>

  <p><strong>Half-day workshops (Saturday)</strong></p>

  <p><a href="#apachesolf">Search API with ApacheSolr</a></p>
  <p><a href="#panels">Panels for themers - Creating highly flexible layouts</a></p>
  <p><a href="#commerce">Launching an online store with Commerce Kickstart 2</a></p>
  <p><a href="#migration">Getting stuff into Drupal - Basics of content migration</a></p>

  <p><strong>Full-day workshops (Friday)</strong></p>

  <p><a href="#nodejs">Integrating Node.js and Drupal</a></p>
  <p><a href="#beginner">Beginner's guide to Drupal</a></p>

<p><strong>Note:</strong> Workshop costs do not include admittance to DrupalCamp. If you wish to attend a workshop and DrupalCamp, you must purchase registration for both.</p>

</div>
{% endif %}
