//
// Extendables
//

%button {
  display: inline-block;
  margin: .3em;
  border: 0;
  padding: .3em .6em;
  border-radius: .3em;
  background-color: $darkorange;
  color: $white;

  &:hover {
    background-color: darken($darkorange, 15%);
    transition: background linear 350ms;
    color: white;
  }

  &:visited {
    color: white;
  }
}

.cta {
  @extend %button;
  background-color: $blue;

  &:hover {
    background-color: $darkblue;
  }
}
