//
// Extendables
//

%fontfade {
  @include transition(opacity .25s ease-in-out);

  .wf-loading & {
    font-size: 2em;
    font-weight: 400;
    opacity: .25;
    letter-spacing: -1.6px;
  }
}

%button {
  display: inline-block;
  margin: .3em;
  border: 0;
  padding: .3em .6em;
  border-radius: .3em;
  background-color: $darkorange;
  color: $white;
  cursor: pointer;

  &:hover {
    background-color: darken($darkorange, 15%);
    @include transition(background linear 160ms);
    color: white;
  }

  &:visited {
    color: white;
  }
}

.cta {
  @extend %button;
  background-color: $blue;

  &:hover {
    background-color: $darkblue;
  }
}

//
// Filters are used in two places: submitted sessions and schedule
//

%filter {
  @extend %button;
  margin: 0 .36em .5em 0;
  padding: 0.3em .4em .15em;
  background-color: $darkblue;
  color: $lightblue;

  // hover state
  &:hover {
    background-color: $darkblue;
    color: $lightblue;
  }

  // default icon is an X
  &:before {
    content: '\2718 ';
    padding-right: .4em;
  }

  // active styles
  &.active,
  &.selected {
    background-color: $darkorange;
    color: $white;

    // when checked, change icon to checkmark
    &:before {
      content: '\2714 ';
    }
  }

  // Hide native checkbox
  input {
    display: none;
  }
}
