// Global function to define max-width
// Don't set this and a grid-span on the same element

@mixin grid-max($grid-width: $grid-max) {
  max-width: $grid-width;
  margin: 0 auto;
}


// EM calculator: http://viljamis.com/blog/2013/prototyping-responsive-typography

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}