//
// Variables file
//

// Colors

$darkbackground: #0a141b;
$lightbackground: #11212d;

$white:       #FFFFFF;
$bodycolor:   #F0FFFF;

$lightblue:   #C5D5F0;
$blue:        #176DAD;
$darkblue:    #135C91;

$green:       #97C441;
$darkgreen:   #62802A;

$orange:      #ED9310;
$darkorange:  #D34913;

// Font stacks

$quatro:          "quatro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$atrament:        "atrament-web", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif;
$source-sans-pro: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;


// Spacing

$space:          1em;
$space-half:     $space/2;
$space-and-half: $space*1.5;
$space-double:   $space*2;
$space-triple:   $space*3;
$space-quad:     $space*4;

// Breakpoints

$breakpoint-to-ems: true;

$about-sm:    0px 639px;
$contact-md:  780px;
$faq-sm:      460px;
$front-sm:    0px 718px;
$front-md:    720px;
$footer-sm:   0px 460px;
$header-sm:   0px 458px;;
$header-md:   460px;
$header-lg:   700px;
$news-sm:     0px 639px;
$primary-sm:  480px;
$sched-md:    500px;
$sched-lg:    920px;
$sidebar:     768px;
$skinny:      680px;
$sponsors-sm: 0 718px;
$sponsors-md: 720px;

// Sigularity grid

$grids: 9;
$gutters: 1/4;
$output: 'isolation';

$grid-max: 880px;

// Layouts for schedule

$layout-room: 2 3 3 3; // 3-col
$layout-track: 2 3 3 3 3; // 4-col
$layout-difficulty: 2 3 3 3; // 3-col
