// Sigularity grid

$grids: 9;
$gutters: 1/4;
$output: 'isolation';

$grid-max: 880px;

// Colors

$darkbackground: #0a141b;
$lightbackground: #11212d;

$white:       #FFFFFF;
$bodycolor:   #F0FFFF;

$lightblue:   #C5D5F0;
$blue:        #176DAD;
$darkblue:    #135C91;

$green:       #97C441;
$darkgreen:   #62802A;

$orange:      #ED9310;
$darkorange:  #D34913;

// Local and hosted fonts

@import "fonts/source-sans-pro";

// Font stacks

$quatro:          'quatro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$atrament:        'atrament-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$source-sans-pro: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial sans-serif;

// Icons

@import "fonts/ss-social-circle";
@import "fonts/ss-symbolicons-block";

$icon-social:      "SSSocialCircle";
$icon-symbolicons: "SSSymbolicons";

// Spacing

$space:          1em;
$space-half:     $space/2;
$space-and-half: $space*1.5;
$space-double:   $space*2;
$space-triple:   $space*3;

// Breakpoints

$contact-sm:  0 700px;
$faq-sm:      460px;
$front-md:    720px;
$footer-sm:   0px 460px;
$header-sm:   0px 458px;;
$header-md:   460px;
$header-lg:   700px;
$sched-md:    500px;
$sched-lg:    720px;
$sidebar:     460px;
$sponsors-md: 720px;
