// Sigularity grid

$grids: 9;
$gutters: 1/4;
$output: 'float';

$grid-max: 880px;

// Colors

$darkbackground: #0a141b;
$lightbackground: #11212d;

$white:       #FFFFFF;
$bodycolor:   #F0FFFF;

$lightblue:   #C5D5F0;
$blue:        #176DAD;
$darkblue:    #135C91;

$green:       #97C441;
$darkgreen:   #62802A;

$orange:      #ED9310;
$darkorange:  #D34913;

// Font stacks

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);

$quatro:          'quatro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$atrament:        'atrament-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$source-sans-pro: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial sans-serif;

// Icons

@import "fonts/ss-social-circle";
@import "fonts/ss-symbolicons-block";

$icon-social:      "SSSocialCircle";
$icon-symbolicons: "SSSymbolicons";

// Breakpoints

$sched-md:    500px;
$sched-lg:    720px;
$sidebar:     460px;
$faq-sm:      460px;
$sponsors-md: 720px;
