//
// Defaults
// - Use these partials to do global resets for form elements and stuff
//

@import 'type';
@import 'forms';

// Base styles

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 75%/1.5em;
  font-family: $source-sans-pro;
  line-height: 1.4;
  color: $bodycolor;
  background: $darkbackground inline-image('background.png') repeat 0 0;
}

main {
  background-color: $darkbackground;
  border-top: 4px solid $lightbackground;
  border-bottom: 4px solid $lightbackground;
}

p {
  margin: 0 0 1.5em 0;
}

a {
  color: $orange;
  text-decoration: none;
  @include transition(color .06s linear);

  &:visited {
    color: $orange;
  }

  &:hover {
    color: $darkorange;
    cursor: pointer;
  }
}

img {
  vertical-align: middle; // Remove the gap between images and the bottom of their containers: h5bp.com/i/440
}

textarea {
  resize: vertical; // Allow only vertical resizing of textareas.
}

// Helper classes

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

// Icons
// http://css-tricks.com/html-for-icon-font-usage

.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
}
.screen-reader-text { /* Used to hide text for solo icons */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

// Buttons

.button {
  @extend %button;
  padding: .5em 1em;
  font-size: em(21);
}

//
// Scrollbars
//

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: $darkblue;
}

::-webkit-scrollbar-thumb {
  background-color: $lightblue;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
