//
// Typography
//

// Typographic scale
// 16, 18, 21, 24, 36, 48

// Headings

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h2, h3, h4, h5, h6 {
  color: $green;
  font-family: $atrament;
  text-transform: uppercase;
  margin-bottom: .5em;
}

h1 {
  color: $green;
  font-family: $quatro;
  font-size: em(48);
  line-height: 1.125em;
  border-bottom: 2px solid $lightbackground;
  margin: 0 0 .5em 0;
  padding-bottom: .1em;
}

h2 {
  font-size: em(36);
  line-height: 1.2em;
}

h3 {
  font-size: em(24);
  line-height: 1.2em;
}

h4 {
  font-size: em(21);
  line-height: 1em;
}

// Misc

i {
  font-style: normal; // Undoing italics
}

// Primary content

.primary.content {
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }

  p, li {
    font-size: em(18);
  }

  i {
    margin-right: .5em;
    color: $green;
  }

  blockquote {
    font-size: em(21);
    line-height: 1.4em;
    margin: 2em 0;
    padding: .4em 2em;
    border-left: .75em solid $darkgreen;
    opacity: .8;
  }
}

// Secondary content (sidebar)

.secondary {

  p, li {
    //font-size: em(21);
  }

  h2 {
    margin-top: 0;
    line-height: 1em;
  }
}
