// Page CSS

header {
  @include clearfix;
}

main {
  @include clearfix;
  margin-bottom: 2em;
  
  .primary {
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .inner {
    padding: 0 5%;

    @include breakpoint($grid-max) {
      padding: 0;
    }
  }
}

.primary {

  img {
    margin-bottom: $space;

    &.left {
      @include breakpoint($primary-sm) {
        margin-right: $space;  
      }
    }

    &.right {
      @include breakpoint($primary-sm) {
        margin-left: $space;
      }
    }
  }
}
