//
// About page
//

img {
  @include breakpoint($about-sm) {
    &.left, &.right {
      float: none;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

#map { 
  margin-bottom: $space-and-half;
  
  iframe {
    width: 100%;
  }
}
