//
// Single column layout
//

.col-1 {
  @include grid-max;

  .primary {
    @include grid-span(9);
  }

  .filtered {
    color: #333333;
  }

  button {
    &.toggle {
      background-color: grey;
      color: white;
      &.selected {
        background-color: $darkorange;
      }
    }
  }
}
