//
// Contact styles
//

section.contact {
  text-align: center;

  @include breakpoint($contact-md) {
    text-align: left;  
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: $space;

      i {
        font-size: 2em;
        line-height: 0.9em;
        position: relative;
        top: 0.25em;
      }
      @include breakpoint($contact-md) {
        margin-bottom: $space-double;
      }
    }
  }
  
  .contact-email {
    display: block;
    padding-top: $space;
    margin-bottom: $space;
    
    @include breakpoint($contact-md) {
      display: inline;    
    }
  }
}
