/*
 * Credits page
 */

$avatar-size: 80px;

ul#contributors-list {
  @include clearfix;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    float: left;
    width: $avatar-size;
    margin: 0 10px 0 0;

    img {
      width: $avatar-size;
      height: $avatar-size;
    }
  }
}
