//
// Design partials
// - Each partial should correspond to a specific component
//   of the website. If you need to set some defaults (like
//   form element styles) use the 'defaults' folder.
//

// Layouts and page tpls
@import 'layouts/layouts';

// General site components
@import 'nav';
@import 'header';
@import 'front';
@import 'about';
@import 'news';
@import 'workshops';
@import 'faq';
@import 'contact';
@import 'sponsors';
@import 'credits';
@import 'footer';

// Sessions
@import 'sessions';
@import 'sessions-filters';
@import 'sessions-submitted';
@import 'sessions-schedule-layout';
@import 'sessions-schedule-headings';
@import 'sessions-schedule';
