//
// Footer styles
//

footer {
  @include clearfix;
  @include grid-max;
  text-align: center;
  margin-bottom: 2em;

  .social {
    font-size: 2em;
    position: relative;
    top: .3em;
    
    a {
      color: $white;
      margin-right: .5em;
      
      &:hover {
        color: $darkorange;
      }
    }
  }
}

