//
// Front page styles
//

#front-main,
#front-news,
.front-info {
  text-align: center;
}

#front-main {
  @include grid-span(9, 1);
  border-bottom: 4px solid $lightbackground;
  margin-bottom: $space;

  h1 {
    border: none;
    margin-bottom: .2em;
  }

  .subheader {
    color: $blue;
  }
}

#front-news {
  @include grid-span(9, 1);
  clear: both;
  border-bottom: 4px solid $lightbackground;
  margin-bottom: $space-double;

  ul {
    list-style: none;

    li.post {
      font-size: em(21);
      display: inline-block;
      margin-right: $space;

      &:before {
        color: $blue;
        padding-right: $space-half;
      }

      a {
        font-family: $source-sans-pro;
        font-weight: bold;
      }

      @include breakpoint($front-sm) {
        display: list-item;
        margin-right: 0;
        margin-bottom: $space-half;
      }
    }

    @include breakpoint($front-sm) {
      margin-left: 0;
      padding-left: $space-double;
      text-indent: -$space-double;
    }
  }

  @include breakpoint($front-sm) {
    text-align: left;
  }
}

#front {
  .front-info {
    @include grid-span(9, 1);
    margin-bottom: $space-double;

    h2 {
      line-height: 1;
      margin-bottom: $space-half;
    }
    // defaults for each image
    h2:after {
      display: block;
      content: '';
      max-width: 100%;
      width: 280px;
      height: 158px;
      margin: .5em auto 0;
      background-image: image-url('fp-images.jpg');
      box-shadow: inset 0 0 .36em rgba(#000,.8);
    }
    // specific images
    &.sessions h2:after {
      background-position: center top;
    }
    &.workshops h2:after {
      background-position: center -158px;
    }
    &.keynotes h2:after {
      background-position: center -316px;
    }
    &.webleadershipday h2:after {
      background-position: center -474px;
    }
    &.trivia h2:after {
      background-position: center -632px;
    }
  }

  @include breakpoint($front-md) {

    .front-info.sessions {
      @include grid-span(3, 1, $options: 'right');
    }

    .front-info.workshops {
      @include grid-span(3, 4);
    }

    .front-info.keynotes {
      @include grid-span(3, 7);
    }

    .front-info.webleadershipday {
      @include grid-span(4, 1, $options: 'right');
    }
    .front-info.trivia {
      @include grid-span(4, 6);
    }
  }
}
