//
// Front page styles
//

#front-main,
#front-news,
.front-info {
  text-align: center;
}

#front-main {
  @include isolation-span(9, 1, 'right');
  border-bottom: 4px solid $lightbackground;
  margin-bottom: $space;

  h1 {
    border: none;
    margin-bottom: .2em;
  }

  .subheader {
    color: $blue;
  }
}

#front-news {
  @include isolation-span(9, 1, 'right');
  border-bottom: 4px solid $lightbackground;
  margin-bottom: $space-double;

  ul {
    list-style: none;

    li.post {
      font-size: em(21);
      display: inline-block;
      margin-right: $space;
      
      &:before {
        color: $blue;
        padding-right: $space-half;
      }

      @include breakpoint($front-sm) {
        display: list-item;
        margin-right: 0;
      }
    }
    
    @include breakpoint($front-sm) {
      margin-left: 0;
      padding-left: $space-double;
      text-indent: -$space-double;
    }
  }
  
  @include breakpoint($front-sm) {
    text-align: left;
  }
}

#front {
  .front-info {
    @include isolation-span(9, 1, 'right');
    margin-bottom: $space;

    h2 {
      line-height: 1;
      margin-bottom: $space-half;
    }

    img {
      margin-bottom: $space-half;
      border: 2px solid $lightblue;
    }
  }
  
  @include breakpoint($front-md) {
    margin-bottom: 0;
    
    .front-info.sessions {
      @include isolation-span(3, 1, 'right');
    }

    .front-info.workshops {
      @include isolation-span(3, 4, 'right');
    }

    .front-info.parties {
      @include isolation-span(3, 7, 'right');
    }
  }

}
