//
// Header styles
//

header {

  #nav ul,
  .inner {
    @include grid-max;
  }

  @include breakpoint($header-md) {
    margin-bottom: 1em;
  }
}

// Logo styles

#branding {
  text-align: center;
  @include isolation-span(9, 1);

  @include breakpoint($header-sm) {
    margin-top: -2em;
    margin-bottom: 1em;
  }

  @include breakpoint($header-lg) {
    @include isolation-span(3, 4, 'right');
  }

  #logo {
    display: inline-block;
    min-width: 248px;
    min-height: 190px;
    background: image-url('logo.png');

    .js & {
      color: transparent;
    }

    .svg & {
      background: image-url('logo.svg');
    }
  }
}

// Calls to action

#cta-1,
#cta-2 {
  text-align: center;

  .button {
    font-size: em(18);
  }

  @include breakpoint($header-lg) {
    padding-top: 5em;
  }
}

#cta-1 {
  @include isolation-span(9, 1);

  @include breakpoint($header-md) {
    @include isolation-span(4, 1, 'right');
  }

  @include breakpoint($header-lg) {
    @include isolation-span(3, 1, 'right');
  }
}

#cta-2 {
  @include breakpoint($header-sm) {
    display: none;
  }

  @include breakpoint($header-md) {
    @include isolation-span(4, 6, 'right');
  }

  @include breakpoint($header-lg) {
    @include isolation-span(3, 7, 'right');
  }
}
