//
// Header styles
//

header {
  #nav ul,
  #branding {
    @include grid-max;
  }
}

// Nav styles

@import 'responsive-nav';

#nav {

  a {
    color: $white;

    &:hover {
      color: $darkorange;
    }
  }

  @include breakpoint($nav-sm) {
    border-bottom: 2px solid $lightbackground;
    font-size: em(24);
    background-color: $darkbackground;

    ul {
      padding: .5em 0;
    }

    li {
      padding-left: 1em;

      a {
        display: block;
      }

      &:hover {
        background-color: $darkorange;

        a {
          color: white;
        }
      }
    }
  }

  @include breakpoint($nav-md) {
    text-align: center;
    font-size: em(18);

    ul {
      padding: .5em 0;
    }
    li {
      display: inline;
      margin-right: 1em;

      &:first-child {}

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#nav-toggle {
  width: 50px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: image-url('menu.png') transparent 0 0;
}

#branding {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;

  @include breakpoint($nav-sm) {

    #logo {
      margin-right: -50px;

      img {
        max-width: 200px;
      }
    }
  }
}
