//
// News entries
//

// Top-level News listing

.news-listing {

  .entry {
    margin-bottom: $space-double;

    h2 {
      margin-bottom: 0;
    }
    p.meta {
      margin-top: 0;
    }
  }
}

// Individual news posts

#post {
  
  h1.title {
    @include breakpoint($news-sm) {
      font-size: em(36);
      padding-bottom: .2em;
    }
  }

  img {
    @include breakpoint($news-sm) {
      &.left, &.right {
        float: none;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
