//
// Global session styles
// - See other partials for specific uses (submitted/schedule/etc)
//

.session {
  // title
  h2 {
    margin-bottom: .25em;
    line-height: 1.1em;
  }

  // Byline
  p.meta {
    margin: 0;
    opacity: .8;
  }

  // Content of submission
  h3 {
    margin: 0;
  }
  p {
    margin-top: 0;
  }
}

//
// Details page
//

.session-details {
  // Sidebar
  aside {
    @include grid-span(9);
    
    @include breakpoint($session-lg) {
      @include grid-span(4, omega);
    }
  }

  // Session description
  .desc {
    @include grid-span(9);
    padding-top: 1.5em;

    @include breakpoint($session-lg) {
      @include grid-span(5);
    }
  }
}
