//
// Schedule layout
//

$sched-pad: 8.4em;
$reset-width: 7.5em;
$reset-height: 2.1em;

.schedule {
  * {
    @include box-sizing(border-box);
  }

  h1 {
    text-align: center;
  }

  .slot {
    @include clearfix;

    .time {
      clear: both;
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 0.2em 0.5em 0.5em 0.5em;
      background-color: $darkblue;
      color: $white;
      border-radius: 0.2em;
      text-transform: none;
      // Time headings should be sticky on linear view
      position: -webkit-sticky;
      position:    -moz-sticky;
      position:     -ms-sticky;
      position:      -o-sticky;
      top: 2.1em;
      z-index: 90;
      // HW accel to help position: sticky
      @include transform(translateZ(0));
      @include transform-style(preserve-3d);

      @include breakpoint($filters) {
        top: $filter-height + 0.8em;
      }
      @include breakpoint($sched-lg) {
        margin-top: 0.2em;
        text-align: right;
      }
    }
  }

  //
  // Friday events
  //

  #friday {
    padding-bottom: $space;
    border-bottom: $lightbackground solid 2px;
    margin-bottom: $space-double;
    @include clearfix;

    article {
      @include grid-span(9);
      margin-bottom: $space;

      @include breakpoint($sched-lg) {
        margin-bottom: 0;

        &.workshops {
          @include grid-span(3, 1);
        }
        &.webleadershipday {
          @include grid-span(3, 4);
        }
        &.trivianight {
          @include grid-span(3, 7);
        }
      }
    }
  }

  //
  // Schedule filters
  //

  .filters {
    @include clearfix;
    min-height: $reset-width + 3em;
    padding-left: $reset-width + 1em;
    position: relative;

    @include breakpoint($filters) {
      min-height: $reset-height;
      padding-top: 0.4em;
      position: -webkit-sticky;
      position:    -moz-sticky;
      position:     -ms-sticky;
      position:      -o-sticky;
      top: 0;
      z-index: 100;
      background: $darkbackground;
    }

    @include breakpoint($sched-lg) {
      padding-left: $reset-width + $sched-pad;
    }

    // Big ol' Reset button
    .f-reset {
      button {
        position: absolute;
        top: -0.3em;
        left: 0;
        background: $darkgreen;
        color: $white;
        width: $reset-width;
        height: $reset-width + 1em;

        // on big screens make it shorter and move it.
        // temporary until we add other filters.
        @include breakpoint($filters) {
          height: $reset-height + 0.1em;
          top: 0.1em;
        }
        @include breakpoint($sched-lg) {
          left: $sched-pad - 1em;
        }
      }
    }
  }
}
