//
// Global session styles
// - See other partials for specific uses (submitted/schedule/etc)
//

.session {
  // title
  h2 {
    margin-bottom: .25em;
    line-height: 1.1em;
  }

  // Byline
  p.meta {
    margin: 0;
    opacity: .8;
  }

  // Content of submission
  h3 {
    margin: 0;
  }
  p {
    margin-top: 0;
  }
}
