//
// Schedule layout
//

$sched-pad: 8.4em;
$reset-width: 7.5em;
$reset-height: 2.1em;

.schedule {
  * {
    @include box-sizing(border-box);
  }

  h1 {
    text-align: center;
  }

  .slot {
    @include clearfix;

    .time {
      clear: both;
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 0.5em;
      background-color: $darkblue;
      color: $white;
      border-radius: 0.2em;
      text-transform: none;

      @include breakpoint($sched-lg) {
        margin-top: 0.2em;
        text-align: right;
      }
    }
  }

  //
  // Friday events
  //

  #friday {
    padding-bottom: $space;
    border-bottom: $lightbackground solid 2px;
    margin-bottom: $space-double;
    @include clearfix;

    article {
      @include grid-span(9);
      margin-bottom: $space;

      @include breakpoint($sched-lg) {
        margin-bottom: 0;

        &.workshops {
          @include grid-span(3, 1);
        }
        &.webleadershipday {
          @include grid-span(3, 4);
        }
        &.trivianight {
          @include grid-span(3, 7);
        }
      }
    }
  }

  //
  // Schedule filters
  //

  .filters {
    min-height: $reset-width + 3em;
    position: relative;
    padding-left: $reset-width + 1em;

    @include breakpoint($sched-lg) {
      padding-left: $reset-width + $sched-pad;
    }

    // on big screens make it shorter.
    // temporary until we add other filters.
    @include breakpoint($sched-lg) {
      min-height: $reset-height;
    }

    // Big ol' Reset button
    .f-reset {
      button {
        position: absolute;
        top: -0.3em;
        left: 0;
        background: $darkgreen;
        color: $white;
        width: $reset-width;
        height: $reset-width + 1em;

        // on big screens make it shorter and move it.
        // temporary until we add other filters.
        @include breakpoint($sched-lg) {
          height: $reset-height;
          left: $sched-pad - 1em;
        }
      }
    }
  }
}
