//
// Submitted Sessions
//

$sched-pad: 2em;
$reset-width: 6em;

.schedule {
  h1 {
    text-align: center;
  }

  .slot .time {
    clear: both;
    margin: 1em 0;
    padding: .5em 1em;
    background-color: $darkblue;
    color: #000;
  }

  // Schedule filters
  .filters {
    position: relative;
    padding-right: $reset-width + $sched-pad + 2em;

    label {
      display: inline-block;
      width: 5em;
      margin-left: $sched-pad - .5em;
      padding-right: .5em;
      text-align: right;
    }

    // <button> automatically extends %button
    button {
      &.toggle {
        background-color: $darkblue;
        color: $lightblue;

        &.selected {
          background-color: $darkorange;
          color: $white;
        }
      }
    }

    // Big ol' Reset button
    .filters-reset {
      button {
        position: absolute;
        top: 0;
        right: $sched-pad;
        background: $darkgreen;
        color: $white;
        width: $reset-width;
        height: $reset-width;
      }
    }
  }
}

//
// To keep the Sass much lighter weight, we're not scoping all of
// this stuff to the .schedule class. Things are still scoped
// to each schedule view using & - section.[room|track|difficulty]
//

article.session {
  // Transform container settings
  @include transform-style(preserve3d);
  @include perspective(600px);

  // UI fanciness for schedule filtering
  div {
    @include transition(all .3s ease-in-out);
    @include transform-origin(50% 100%);

    // Filtered = suppressed from schedule
    &.filtered {
      opacity: .25;
      -webkit-filter: blur(4px);
      @include transform(translateZ(-160px) rotateX(20deg));
    }
  }

  // Defaults for each session
  .schedule & {
    padding-bottom: 2em;
    @include grid-span(9);

    // Defaults for headings
    h2 {
      margin-top: 0;
    }
  }

  // // All views look the same on small/medium screens
  // @include breakpoint($sched-md) {
  //   @include grid-span(4);

  //   &:nth-of-type(2n) {
  //     @include grid-span(4,6);
  //   }
  // }


  // Grid for Room view (3-col)
  section.room & {
    // Singularity settings
    $output: 'isolation';
    $grids: 3;

    @include breakpoint($sched-lg) {
      &.room-chapter-three-room {
        @include grid-span(1,1);
      }

      &.room-room-102 {
        @include grid-span(1,2);
      }

      &.room-entermedia-room {
        @include grid-span(1,3);
      }
    }
  }

  // Grid for Difficulty view (3-col)
  section.difficulty & {
    // Singularity settings
    $output: 'isolation';
    $grids: 3;

    @include breakpoint($sched-lg) {
      &.difficulty-beginner {
        @include grid-span(1,1);
      }

      &.difficulty-intermediate {
        @include grid-span(1,2);
      }

      &.difficulty-expert {
        @include grid-span(1,3);
      }
    }
  }

  // Grid for Track view (4-col)
  section.track & {
    // Singularity settings
    $output: 'isolation';
    $grids: 4;

    @include breakpoint($sched-lg) {
      &.track-design-theming-and-ux {
        @include grid-span(1,1);
      }

      &.track-development {
        @include grid-span(1,2);
      }

      &.track-business-and-marketing {
        @include grid-span(1,3);
      }

      &.track-site-building {
        @include grid-span(1,4);
      }
    }
  }
}
