//
// Schedule headings
//
// To keep the Sass much lighter weight, we're not scoping all of
// this stuff to the .schedule class. Things are still scoped
// to each schedule view using & = section.[room|track|difficulty]
//

.day {
  padding-top: 1em;
  position: relative;

  // Day headings should fall in line vertically with column headings
  @include breakpoint($sched-lg) {
    header > h2 {
      float: left;
      position: absolute;
    }
    header > h2:nth-of-type(2) {
      @include transform(translateY(1.8em));
    }
  }

  //
  // Day/Room headings
  //

  header {
    // day/room headings are sticky
    position: -webkit-sticky;
    position:    -moz-sticky;
    position:     -ms-sticky;
    position:      -o-sticky;
    top: 0;
    z-index: 100;
    padding: 0.5em 0;
    background: $darkbackground;
    // HW accel to help position: sticky
    @include transform(translateZ(0));
    @include transform-style(preserve-3d);

    @include breakpoint($filters) {
      top: $filter-height - 0.2em;
    }
    @include breakpoint($sched-lg) {
      @include background(linear-gradient(top, $darkbackground 60%, rgba($darkbackground,0)));
      padding-bottom: 2em;
      margin-bottom: -1em;
    }

    h2 {
      margin-bottom: 0;
    }

    .column {
      display: none;
      background: $green;
      font-family: $atrament;
      font-size: 2em;
      color: #222;
      border-radius: .2em;
      padding: 0 .5em;
      white-space: nowrap;

      @include breakpoint($sched-lg) {
        display: inline-block;
      }
    }
  }

  //
  // Schedule by Room
  //

  &.room {
    @include breakpoint($sched-lg) {
      @include layout($layout-room) {
        .time {
          @include grid-span(1,1);
          position: static; // unset the sticky header on large schedule
        }
        .column:nth-of-type(1) {
          @include grid-span(1,2);
        }
        .column:nth-of-type(2) {
          @include grid-span(1,3);
        }
        .column:nth-of-type(3) {
          @include grid-span(1,4);
        }
      }
    }
  }

  // &.track {
  //   @include breakpoint($sched-lg) {
  //     @include layout($layout-track) {
  //       .time {
  //         @include grid-span(1,1);
  //       }
  //       .column:nth-of-type(1) {
  //         @include grid-span(1,2);
  //       }
  //       .column:nth-of-type(2) {
  //         @include grid-span(1,3);
  //       }
  //       .column:nth-of-type(3) {
  //         @include grid-span(1,4);
  //       }
  //       .column:nth-of-type(4) {
  //         @include grid-span(1,5);
  //       }
  //     }
  //   }
  // }

  // &.difficulty {
  //   @include breakpoint($sched-lg) {
  //     @include layout($layout-difficulty) {
  //       .time {
  //         @include grid-span(1,1);
  //       }
  //       .column:nth-of-type(1) {
  //         @include grid-span(1,2);
  //       }
  //       .column:nth-of-type(2) {
  //         @include grid-span(1,3);
  //       }
  //       .column:nth-of-type(3) {
  //         @include grid-span(1,4);
  //       }
  //     }
  //   }
  // }
}
