//
// Submitted Sessions
//

.submitted .session {
  p.meta {
    margin-top: 0;
    margin-bottom: 1em;

    &:hover {
      opacity: 1;
    }
  }

  .desc {
    @include transition(all .3s ease-in-out);
    overflow: hidden;

    // if JS fires, collapse descriptions
    .js & {
      max-height: 0;
    }

    // Expanded state
    .js &.expanded {
      max-height: 1000px;
    }
  }
}
