/*
 * Sponsor styles
 */

#sponsors {
  @include clearfix;
  @include grid-max;
  text-align: center;
  margin-bottom: 2em;

  p {
    @include grid-span(9, 1);
    margin-top: 1em;
  }

  .sponsor {
    a,
    span {
      display: inline-block;
      min-width: 140px;
      min-height: 140px;
      background-repeat: no-repeat;
      color: transparent;
    }
  }

  .lone-star,
  .party,
  .longhorn,
  .trivia,
  .armadillo,
  .bat {
    @include clearfix;
    text-align: center;
  }

}

//
// Sponsor layout
// @see sponsor-logos.scss for graphics
//

@include layout(12) {
  $output: float;
  @include breakpoint($sponsors-md) {
    .lone-star .sponsor {}
    
    .longhorn,
    .party {
      @include grid-span(4);
    }
    
    .trivia {
      @include grid-span(4, 'omega');
    }

    .armadillo .sponsor {
      @include grid-span(4);

      &:last-child {
        @include grid-span(4, 'omega');
      }
    }

    .bat .sponsor {
      @include grid-span(4);

      &:nth-child(3),
      &:last-child {
        @include grid-span(4, 'omega');
      }
    }
  
  }
}
