//
// Sponsors style
//

@import "sponsors/*.png";
@include all-sponsors-sprites;

#sponsors {
  @include clearfix;
  @include grid-max;
  text-align: center;
  margin-bottom: 2em;

  p {
    @include isolation-span(9, 1);
    margin-top: 1em;
  }

  .sponsor {
    a,
    span {
      display: inline-block;
      min-width: 140px;
      min-height: 140px;
      background-repeat: no-repeat;
      color: transparent;
    }
  }

  #astonish {
    @extend .sponsors-astonish;

    .svg & {
      background-image: inline-image("sponsors/astonish.svg");
      background-position: 0 0;
    }
  }

  #entermedia {
    @extend .sponsors-entermedia;
    min-width: 250px;

    .svg & {
      background-image: inline-image("sponsors/entermedia.svg");
      background-position: 0 0;
    }
  }

  #zeneva {
    @extend .sponsors-zeneva;

    .svg & {
      background-image: inline-image("sponsors/zeneva.svg");
      background-position: 0 0;
    }
  }

  #blackmesh {
    @extend .sponsors-blackmesh;

    .svg & {
      background-image: inline-image("sponsors/blackmesh.svg");
      background-position: 0 0;
    }
  }

  #justaddcloud {
    @extend .sponsors-justaddcloud;

    .svg & {
      background-image: inline-image("sponsors/justaddcloud.svg");
      background-position: 0 0;
    }
  }

  .lone-star {
    @include isolation-span(9, 1);

    @include breakpoint($sponsors-md) {
      @include isolation-span(5, 1);
    }
  }

  .longhorn {
    @include isolation-span(9, 1);

    @include breakpoint($sponsors-md) {
      @include isolation-span(4, 6, 'right');
    }
  }

  .armadillo {

    .sponsor {
      @include isolation-span(9, 1);

      @include breakpoint($sponsors-md) {
        &:nth-child(1) {
          @include isolation-span(3, 1, 'right');
        }
        &:nth-child(2) {
          @include isolation-span(3, 4, 'right');
        }
        &:nth-child(3) {
          @include isolation-span(3, 7, 'right');
        }
      }
    }
  }
}
