/*
 * Sponsor logos
 * - This file is NOT a partial, allowing us to async load on homepage. For speedy science.
 */

@import "sponsors/*.png";
@include all-sponsors-sprites;

#entermedia {
  @extend .sponsors-entermedia;
  width: 250px;

  .inlinesvg & {
    background-image: inline-image("sponsors/entermedia.svg");
    background-position: 0 0;
  }
}

#patientconversation {
  @extend .sponsors-patientconversation;
  width: 250px;
  
  .inlinesvg & {
    background-image: inline-image("sponsors/patientconversation.svg");
    background-position: 0 0;
  }
}

#acquia {
  @extend .sponsors-acquia;
  width: 250px;
  
  .inlinesvg & {
    background-image: inline-image("sponsors/acquia.svg");
    background-position: 0 0;
  }
}

#astonish {
  @extend .sponsors-astonish;
  width: 250px;
  
  .inlinesvg & {
    background-image: inline-image("sponsors/astonish.svg");
    background-position: 0 0;
  }
}

#volacci {
  @extend .sponsors-volacci;
  width: 250px;

  .inlinesvg & {
    background-image: inline-image("sponsors/volacci.svg");
    background-position: 0 0;
  }
}

#zeneva {
  @extend .sponsors-zeneva;

  .inlinesvg & {
    background-image: inline-image("sponsors/zeneva.svg");
    background-position: 0 0;
  }
}

#blackmesh {
  @extend .sponsors-blackmesh;

  .inlinesvg & {
    background-image: inline-image("sponsors/blackmesh.svg");
    background-position: 0 0;
  }
}

#pantheon {
  @extend .sponsors-pantheon;
  width: 200px;

  .inlinesvg & {
    background-image: inline-image("sponsors/pantheon.svg");
    background-position: 0 0;
  }
}

#osscube {
  @extend .sponsors-osscube;
  width: 200px;
  
  .inlinesvg & {
    background-image: inline-image("sponsors/osscube.svg");
    background-position: 0 0;
  }
}

#justaddcloud {
  @extend .sponsors-justaddcloud;

  .inlinesvg & {
    background-image: inline-image("sponsors/justaddcloud.svg");
    background-position: 0 0;
  }
}

#commerce-guys {
  @extend .sponsors-commerceguys;

  .inlinesvg & {
    background-image: inline-image("sponsors/commerceguys.svg");
    background-position: 0 0;
  }
}

#bluedropcookbook {
  @extend .sponsors-bluedropcookbook;

  .inlinesvg & {
    background-image: inline-image("sponsors/bluedropcookbook.svg");
    background-position: 0 0;
  }
}

#drupalizeme {
  @extend .sponsors-drupalizeme;

  .inlinesvg & {
    background-image: inline-image("sponsors/drupalizeme.svg");
    background-position: 0 0;
  }
}

#pushpinplanner {
  @extend .sponsors-pushpinplanner;

  .inlinesvg & {
    background-image: inline-image("sponsors/pushpinplanner.svg");
    background-position: 0 0;
  }
}

#polycot {
  @extend .sponsors-polycot;

  .inlinesvg & {
    background-image: inline-image("sponsors/polycot.svg");
    background-position: 0 0;
  }
}

#favish {
  @extend .sponsors-favish;

  .inlinesvg & {
    background-image: inline-image("sponsors/favish.svg");
    background-position: 0 0;
  }
}

#chapterthree {
  @extend .sponsors-chapterthree;

  .inlinesvg & {
    background-image: inline-image("sponsors/chapterthree.svg");
    background-position: 0 0;
  }
}
