/*
 * Sponsor logos
 * - This file is NOT a partial, allowing us to async load on homepage. For speedy science.
 */

@import "sponsors/*.png";
@include all-sponsors-sprites;

#astonish {
  @extend .sponsors-astonish;
  width: 250px;
  
  .inlinesvg & {
    background-image: inline-image("sponsors/astonish.svg");
    background-position: 0 0;
  }
}

#entermedia {
  @extend .sponsors-entermedia;
  width: 250px;

  .inlinesvg & {
    background-image: inline-image("sponsors/entermedia.svg");
    background-position: 0 0;
  }
}

#volacci {
  @extend .sponsors-volacci;
  width: 250px;

  .inlinesvg & {
    background-image: inline-image("sponsors/volacci.svg");
    background-position: 0 0;
  }
}

#zeneva {
  @extend .sponsors-zeneva;

  .inlinesvg & {
    background-image: inline-image("sponsors/zeneva.svg");
    background-position: 0 0;
  }
}

#blackmesh {
  @extend .sponsors-blackmesh;

  .inlinesvg & {
    background-image: inline-image("sponsors/blackmesh.svg");
    background-position: 0 0;
  }
}

#justaddcloud {
  @extend .sponsors-justaddcloud;

  .inlinesvg & {
    background-image: inline-image("sponsors/justaddcloud.svg");
    background-position: 0 0;
  }
}
